<div class="container">
    <div class="row">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Name" aria-label="Search" #nameFilterInput>
            <input class="form-control me-2" type="search" placeholder="Surname" aria-label="Search" #surnameFilterInput>
            <button class="btn btn-success" type="submit" (click)="filterUsers(nameFilterInput.value,surnameFilterInput.value)"><i class="bi bi-search"></i></button>
        </form>
        <br>
        
        <div class="col-md-6 col-sm-3">
            <app-list-admins [admins]="admins" (selectedAdmin)="processReq($event)" ></app-list-admins>
        </div>
        <div *ngIf="selectedAdmin" class="col-md-6 col-sm-9 col">
            <app-detail-admin [selectedAdmin]="selectedAdmin"></app-detail-admin>
        </div>
        
    </div>
</div>
